/* Khaoula Azdoud */
/* 09/12/2023 */
/* Assignment 7.2:  Development and GitHub Pages Deployment */

header {
    font-family: 'Norwester', sans-serif;
    background-color: #000000;
    text-align: center;
    height: 150px;
    position: relative;
    width: 100%;
}

.titre h1 {
    margin: 0;
    padding: 0; 
    text-align: center;
}


.logo {
    width: 150px; 
    height: 150px;
    margin-left: 10px;
}

.header-content {
    color: #CBB26A;
    display: flex;
    gap: 30px;
}

#navbar {
    position: absolute; 
    top: 0; 
    right: 30px; 
    height: 175%; 
    display: flex; 
    align-items: center; 
}

#navbar a {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#navbar a:hover {
    color: #E5D9B6;
    text-decoration: underline;
}


header h1{
    margin-top: 3.78%;
}

.titre {
    color: #CBB26A;
    font-weight: bold;
    font-size: 36px;
    z-index: 2;
    text-align: left; 
    position: absolute; 
    margin-top: 180px; 
    font-family: 'Norwester', sans-serif;
}

.homepicture {
    position: absolute;    
    margin-top: 50px;
    left: 28%; 
    height: auto;
}

@media screen and (max-width: 940px) {
    .homepicture {
        left: 10%; 
    }
}

.homelink a {
    font-weight: bold;
    color: #CBB26A;
    font-family: 'Norwester', sans-serif;
}

.homelink {
    text-align: right;
    top: 536px;  
    position: relative;
}

@media only screen and (max-width: 940px) {
    .homelink {
        top: 350px;  
        position: relative;
    }
}

.social-media {
    position: absolute;
    right: 60px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: 95px;
}

.social-media img {
    width: 50px; 
    height: 50px; 
    margin-bottom: 6px; 
}

@media screen and (max-width: 940px) {
    .social-media { 
        right: 5px; 
        transform: scale(0.8); 
    }

    .social-media img {
        width: 40px; 
        height: 40px; 
        margin-bottom: 4px; 
    }
}

.social-media img:hover {
    background-color: #CBB26A;
}

.homecard1:hover, .homecard2:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.home1 {
    float: left;
    width: 50%;
}

.home2 {
    float: right;
    width: 50%;
}

@media screen and (max-width: 620px) {
  .home1 {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .home2 {
    width: 100%;
    display: block;
  }
}

.homecard1 {
    margin: 750px 50px 40px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.homecard2 {
    margin: 750px 50px 40px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.aboutme-title {
    font-size: 35px;
    margin-top: 50px;
    margin-left: 95px;
    font-family: 'Norwester', sans-serif;
    background-color: #CBB26A;
    padding: 1%;
    margin-right: 82px;
}

.aboutme-paragraph {
    margin-top: -70px;
    font-size: 32px;
    margin-left: 95px;
    font-family: 'Norwester', sans-serif;
    background-color: #CBB26A;
    padding: 2%;
    margin-right: 82px;
}

.aboutme-paragraph img {
    max-width: 100%;
    height: auto;
}

.hobbies-title {
    margin-left: 40px;
    font-family: 'Norwester', sans-serif;
    font-size: 10px;
    padding: 1%;
}

* {
  box-sizing: border-box;
}


.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.firstCards {
    float: left;
    width: 50%;
    padding: 0 10px;


}
.secondCards {
    float: right;
    width: 50%;
    padding: 0 10px;


}
@media screen and (max-width: 620px) {
  .firstCards {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .secondCards {
    width: 100%;
    display: block;
  }
}

.card1 {
    margin: 0px 50px 40px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card2 {
    margin: 0px 50px 40px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 35px 50px 40px 50px;
}

.card4 {
    margin: 0px 50px 40px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  font-family: 'Norwester', sans-serif;
}

#homeFooter {
    text-align: center;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
    color: #FFFFFF;
    top: 250%;
    font-family: 'Norwester', sans-serif;
    margin-top: 10px;
}

@media screen and (max-width: 620px) {
  #homeFooter {
    width: 100%;
    display: block;
    top: 437%;
  }
}

#aboutMeFooter {
    text-align: center;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 99%;
    color: #FFFFFF;
    top: 220%;
    font-family: 'Norwester', sans-serif;
    margin-top: 10px;
}

@media screen and (max-width: 620px) {
  #aboutMeFooter {
    width: 100%;
    display: block;
    top: 160%;
  }
}

#hobbiesFooter {
    text-align: center;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 99%;
    color: #FFFFFF;
    top: 280%;
    font-family: 'Norwester', sans-serif;
    margin-top: 10px;
}

@media screen and (max-width: 620px) {
  #hobbiesFooter {
    width: 100%;
    display: block;
    top: 439%;
  }
}